var format = function(text) {
  if (text) {
    var reg = getRegExp('\\\\n', 'g')
    return text.replace(reg, '\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;')
  }
}

var limit = function(arr, length) {
  return arr.slice(0, length)
}

var highlight = function(index) {
  if (index == 0) {
    return 'tag1'
  } else if (index == 1) {
    return 'tag2'
  }
  return ''
}
module.exports = {
  format: format,
  limit: limit,
  highlight: highlight
}
